
<div class="container" id="sectionNav">
    <div class="row">
        <div class="col-md section-back leftMargine border">
          <app-tablesect1></app-tablesect1>        
        </div> 
        <div class="col-md section-back leftMargine border">
            <app-tablesect></app-tablesect>
        </div>
        <div class="w-100 topMargine"></div>
        <div class="col-md section-back leftMargine border">
            <app-tablesect4></app-tablesect4>
        </div>
        <div class="col-md section-back leftMargine border">
                <div class="imgBox text-center btnStylingDiv" >
                        <img src="../../assets/gifCard.jpg" class="rounded imgProperty" >
                    </div>
            <p class="fontfortext">
                Dāvanu kartes iegāde ir laba iespēja iepriecināt savus draugus!
                Iegādāties dāvanu karti ir iespējams uz vietas.
            </p>
        </div>
    </div>
</div>

