.bg {

    background-image: url("assets/annie-spratt-695510-unsplash.jpg");
    background-color: #f5dae1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
